.calendar {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border: 2px solid black;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
	background: #faf9fa;
}

.btn {
	padding: 10px 30px;
	box-sizing: border-box;
	margin: auto;
}

.mood-labels,
.mood-labels ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.mood-labels ul {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.mood-labels li {
	list-style-type: none;
	margin: 0px;
	padding: 4px 0px;
	width: 25%;
	font-size: 16px;
	display: flex;
	align-content: center;
	justify-content: center;
}
