.login {
  background:red;
  display: flex;
  flex-direction: column;
}

.login-message {
  background: blue;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}

.login-btn {
  /* background: green; */
  width: 200px;
  margin: 20px auto;
}