.mood1 {
  background-color: rgb(99, 90, 136);
  color: rgb(49, 44, 71);
}
.mood2 {
  background-color: rgb(143, 163, 194);
  color: rgb(58, 79, 110);
}
.mood3 {
  background-color: rgb(255, 219, 140);
  color: rgb(87, 69, 32);
}
.mood4 {
  background-color: rgb(255, 224, 87);
  color: rgb(109, 96, 37);
}