/* bad */
.mood1 {
	background-color: #8c8c9e;
	color: #2b2a4d;
}

/* okay */
.mood2 {
	background-color: #88a2af;
	color: #2a3f4a;
}

/* good */
.mood3 {
	background-color: #a9b388;
	color: #3f472b;
}

/* excellent */
.mood4 {
	background-color: #e9c45d;
	color: #64481c;
}
