/* bad */
.mood1 {
	background-color: #9393e2;
	color: #2b2a4d;
}

/* okay */
.mood2 {
	background-color: #8dc6e2;
	color: #2a3f4a;
}

/* good */
.mood3 {
	background-color: #c2e061;
	color: #3f472b;
}

/* excellent */
.mood4 {
	background-color: #f7bb33;
	color: #64481c;
}
