.single-day, .not-day {
  border-top: 1px solid green;
  border-right: 1px solid green;
  width: calc( 100% * (1/7) );
  padding: 20px 10px;
  box-sizing: border-box;
}

.single-day{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.single-day:hover {
  background: #f0ffe3;
}

.currentDay {
  background: #e3ffc8;
}