.single-day,
.not-day {
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: calc(100% * (1 / 7));
	height: calc(100% * (1 / 5));
	box-sizing: border-box;
}

.single-day {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.currentDay {
	/* background: #d0e7ba; */
	border-bottom: 2px solid rgb(255, 94, 0);
}
