.App {
  color: white;
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 100px;
  background: #0177C7;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
  width: 400px;
  transition: transform 0.2s ease;
}

.container:hover {
  transform: rotate(1deg);
}