
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'Roboto', georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 800px;
  height: 100%;
  margin: auto;
  padding: 50px 0px;
  box-sizing: border-box;
}